.container {
	background-color: #1c1c1c;
	color: white;
	padding: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.input-box {
	width: 80%;
	height: 200px;
	background-color: #2a2a2a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	resize: none;
}

.button-container {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.sample-button, .paste-button, .check-button, .humanize-button {
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.sample-button:hover, .paste-button:hover, .check-button:hover, .humanize-button:hover {
	background-color: #555;
}

.action-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.mode-selector {
	display: flex;
	align-items: center;
	gap: 5px;
}

.mode-dropdown {
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}
